body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.items-centered {
    justify-content: center;
}

.items-aligned {
    align-items: center;
}

.text-centered {
    text-align: center;
}

p, h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.rounded-border {
    border: 1px solid grey;
    border-radius: 10px;
}

.width-50-percent {
    width: 50%;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.font-100 {
    font-size: 100px;
}

.font-20 {
    font-size: 20px;
}

.height-50 {
    height: 50px;
}

.primary-blue {
    background-color: #294C60;
}

.white-text {
    color: white;
}

.cursor-pointer {
    cursor: pointer;
}